.display-practical-experience {
  background-color: #f3f3f3;
  padding: 1rem;
}

.display-practical-experience h4 {
  padding: 0.5rem 0;
}

.display-practical-experience button {
  background-color: lightgray;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 4px;
}

.display-practical-experience__experience-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.5rem 0;
}
