.display-educational-background {
  background-color: #f3f3f3;
  padding: 1rem;
}

.display-educational-background h4 {
  padding: 0.5rem 0;
}

.display-educational-background button {
  background-color: lightgray;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 4px;
}

.display-educational-background__education-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.5rem 0;
}
