.cv-editor {
  padding: 1rem;
  background-color: lightgray;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: absolute;
}

.cv-editor__section {
  background-color: white;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cv-editor--disabled {
  display: none;
}
