.cv-display {
  background-color: lightgray;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 0.5rem;
}

.cv-display__section {
  padding: 1rem;
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
